/*div {
    border: solid black 1px;
    margin: 2px;    
}    */
body {
    margin: 0px;
    background-color: orange;
}
header {
    background-color: orange;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.logo {
    background-color: #2b78e4;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header h1 {
    color: #2b78e4;
    margin: 2px;
}

.training-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;

}

.training-option img {
    width: 85%;
}
.training-option h2 {
    color: #2b78e4;
}

footer {
    background-color: orange;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-right: 10%;
    padding-left: 10%;
}

.social-media {
    display: flex;
    justify-content: space-between;
}
.social-media img {
    width: 40%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info p {
    margin: 2px;
}

@media screen and (min-width: 600px){
    header {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    header .header-title {
        padding-left: 15%;
        font-size: 50px;
    }
    .logo {
        margin-left: 5%;
    }

     .main-content {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .training-option img {
        width: 350px;
        height: 350px;
    }    
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .social-media {
        display: flex;
        flex-direction: row;
    }
    .social-media img {
        margin: 10%;
    }
    .contact-info {
        display: flex;
        align-items: flex-end;
    }
}